---
layout: default
title: browse
---
<h2 class="page-title">Content:</h2>
<div id="archiveList" class="archive-list">

  <div class="browse">
    <input class="search" placeholder=" Search" />
    <button class="sort" data-sort="title">title</button>
    <button class="sort" data-sort="date">date</button>
    <button class="sort" data-sort="tags">tags</button>
  </div>

<!--  so go throgh each catogory of notes-->
  <div class="listjs">
    {% for item in site.categories %}
      <div class="category">
        <h3>{{ item[0] }}</h3>
        <ul>
          {% for note in item[1] %}
            <li>
              <a href="{{ note.url | absolute_url }}">
                <span class="title">{{ note.title }}</span>
                <span class="date">{{ note.date | date: "%Y-%m-%d" }}</span>
                <span class="tags">{{ note.tags | join: ", " }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

</div>
<!-- add list.js http://www.listjs.com/ @javve -->
<script src="{{ "/js/list.min.js" | absolute_url }}"></script>
<script> 
    var options = {
        valueNames: [ 'title', 'date', 'tags' ],
        listClass: 'listjs'
    };

    var userList = new List('archiveList', options);
</script>